html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0 5%;
}

p {
  font-size: 0.8em;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 90%;
}

.navbar * {
  margin: 0;
  padding: 0;
}

.navbar {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;

}

.logo, .nav_links {
  color: #000000;
  text-decoration: none;
}

.main_nav, .secondary_nav {
  display: none;
  list-style-type: none;
}


.main_nav {
  margin-top: 1em;
}
.main_nav li {
  text-align: center;
}

.secondary_nav li {
  display: inline;
  padding: 0 0.5em;
}

.logo {
  display: inline-block;
  margin: 10px 0 0 20px;
}

.navbar-toggle {
    cursor: pointer;
    font-size: 24px;
    left: 92%;
    position: absolute;
    top: 6px;
}

.active {
  display: block;
}

.profile {
  background-color: #B4DBC0;
  margin-top: 3em;
  text-align: center;
  padding: 1em 2em;
}

.profile_pic {
  border: 3px solid #A7B3A5;
  border-radius: 50%;
  display: inline-block;
  height: 150px;
  margin-top: 10px;
  width: 150px;
}

.about {
  background-color: #A7B3A5;
  margin: 1em 0;
  padding: 1em 2em;
  text-align: center;
}

.portfolio {
  background-color: #B56357;
  padding: 1em 2em;
  text-align: center;
}

.projects {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.projects > div {
  border-radius: 5px;
  padding: 1em 0.5em;
  background-color: #EAE3EA;
  border: 2px solid #A7B3A5;
}

.main_nav > li {
  border-top: 1px solid black;
  padding: 0.5em 0;
}

.main_nav > li:active {
  background-color: #EAE3EA;
}

.personal_site {
  content: url('../images/personalSite250px.png');
  margin: auto;
}

.qalog {
  content: url('../images/QAlog200px.png');
  margin: auto;
}

.housematch {
  content: url('../images/houseMatch250px.jpg');
  margin: auto;
}


.contact {
  background-color: #A7B3A5;
  margin: 1em 0;
  padding: 1em 2em;
  text-align: center;
}

.footer {
  border-top: 1px solid black;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: center;
}

.footer_link {
  padding: 0 0.5em;
}

.footer a:link {
  color: #000000;
  text-decoration: none;
}

.footer a:visited {
  color: #000000;
  text-decoration: none;
}

.footer a:hover {
  color: #D3D3D3;
}

@media screen and (min-width: 768px) {
  .main_nav > li{
    border: none;

  }

  .main_nav > li:active {
    background-color: #FFFFFF;
  }

  .profile {
    margin-top: 5em;
  }

  .navbar {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .main_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    margin-right: 30px;
  }

  .main_nav li {
    margin: auto 0;
  }

  .secondary_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .secondary_nav li {
    margin: auto 0;
    padding: 0 0.1em;
  }

  .nav_links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: #ffffff;
  }

  .logo:visited, .nav_links:visited {
    color: #000;
    text-decoration: none;
  }
}


@media screen and (max-width: 399px) {
  .html {
    background-color: red;
  }

  .projects {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
